.mainContainer {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.mainContainer div {
    margin: 10px;
    font-weight: 900;
}

.mainContainer img {
    height: 180px;
    width: 200px;
    border-radius: 100px;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
    color: red;
}

