.header {
    background-color: black;
    height: 100px;
    width:100%;
    opacity: 0.5;

}

.header input {
    border-radius: 10px;
    margin-left: 10px;
}

.loginBtn a {
    color: red;
    float: right;
    font-weight: 900;
    font-size: 30px;
}